* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    height: 100vh;
}

#content {
    width: 600px;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid black;
    border-radius: 15px;
}

#h1, #h2, #p, #h3, #h41, #h42 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leftButton {
    position: absolute;
    left: 3%;
}

#rightButton {
    position: absolute;
    right: 3%;
}

#h1 {
    position: absolute;
    top: 7%;
}

#h2 {
    position: absolute;
    top: 35%;
}

#p {
    position: absolute;
    width: 42%
}

#buttonTrue {
    position: absolute;
    bottom: 35%;
    left: 3%;
}

#buttonFalse {
    position: absolute;
    bottom: 35%;
    right: 3%;
}

#h3 {
    position: absolute;
    bottom: 35%;
}

#h41 {
    position: absolute;
    bottom: 20%;
}

#h42 {
    position: absolute;
    bottom: 5%;
}

@media only screen and (max-width: 1023px) {
    #content {
        width: 90vw;
    }
}
